/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #222;
  margin: 0px;
  padding: 0px;
  color: #555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

.ui.large.header h1 {
  font-weight: normal;
  margin: 0;
}

.ui.icon.buttons .button, .ui.icon.button {
  background-color: #222;
  color: #fff;
}
  .ui.custom.button:hover {
    background-color: #d95c5c;
  }
  .ui.twitter.button:hover {
    background-color: #4092cc;
  }
  .ui.linkedin.button:hover {
    background-color: #1f88be;
  }

a {
  color: #009fda;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
  a:hover {
    color: #00baff;
  }

/*******************************
            Global
*******************************/

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}


/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 1000px) {

}

@media only screen and (min-width : 1725px) {

}

@media only screen and (min-width : 2300px) {

}