@import './mixins/mixins';
@import './partials/colors';

.footer {
  background-color: $c-dark-01;
  color: $c-light;
  text-align: center;
}

.links {
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0;
}

.link {
  display: inline;
  margin: 20px 15px;

  a {
    @include links($c-dark, $c-light);
  }
}

.noMargin {
    margin: 0;
}
