@import 'partials/colors';

.header {
  background-color: $c-dark;
  position: fixed;
  top: 0;
  width: 100%;
}

.link {
  background-image: none;
  display: block;
  line-height: 0;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 5rem;
  z-index: 1;
}

.image {
  margin-bottom: 0;
}
