@import 'mixins/mixins';
@import 'partials/colors';

$spacing: 1.45rem;

.wrapper {
  display: block;
  left: $spacing;
  position: fixed;
  top: 1.8rem;
  user-select: none;
  width: 100%;
  z-index: 1;
}

.line {
  background-color: $c-light;
  display: block;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25), opacity 0.55s ease;
  width: 33px;
  z-index: 1;

  &:first-child {
    transform-origin: 0% 0%;
  }

  &:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}

.input {
  cursor: pointer;
  display: block;
  height: 32px;
  left: -5px;
  opacity: 0;
  position: absolute;
  top: -7px;
  -webkit-touch-callout: none;
  width: 40px;
  z-index: 2;

  &:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  &:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  &:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  &:checked ~ ul {
    transform: none;
  }
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu {
  background-color: $c-dark-01;
  -webkit-font-smoothing: antialiased; // stop flickering of text in safari
  list-style-type: none;
  margin: -#{$spacing * 3} 0 0 -#{$spacing};
  padding: $spacing;
  padding-top: $spacing * 4;
  position: absolute;
  text-align: center;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  width: 100%;

  li {
    font-size: 22px;
    padding: 10px 0;
  }

  a {
    background-image: none;
    color: $c-light;
    font-weight: 700;

    &:hover {
      @include links($c-dark, $c-light);
    }
  }
}
