@import './partials/colors';

.post + .post {
  border-top: solid 1px $c-light-01;
}

.link {
  background-image: none;
  display: block;
  padding: 1rem 0;
  text-shadow: none;
}

[data-post-image--medium] {
  display: block;
  margin: 0 auto;
  width: 40%;
}
