@import './partials/colors';

.post_meta {
  font-style: italic;
  font-weight: 600;
}

.post {
  border-bottom: solid 1px $c-light-01;
  font-size: 1.1rem;
  margin-bottom: 1.45rem;

  > p:first-of-type {
    font-size: 1.2rem;
  }

  img {
    background-color: $c-dark-02;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    padding: 1.25em 1em;
  }
}
