---
import profilePic from '@/assets/images/profile-pic.avif'
---

<header class="bg-dark-01 fixed top-0 z-10 w-full">
  <a href="/" class="relative z-10 mx-auto block w-20 bg-none p-4 leading-none">
    <img
      src={profilePic.src}
      alt="Navigate to homepage"
      class="mb-0"
      height="54"
      width="54"
    />
  </a>
</header>
