---
interface Props {
  posted: string
  minutesRead: number
}

const { posted, minutesRead } = Astro.props

const formattedDate = new Intl.DateTimeFormat('en-GB', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
}).format(new Date(posted))
---

<p class="text-text-muted mb-3 text-sm">
  <time>{formattedDate}</time> &middot; {minutesRead} minute read
</p>
