---
interface Props {
  text: string
}

const { text } = Astro.props
---

<div class="mt-4 mb-12 text-center">
  <h1
    class="font-body text-text-muted text-[2.2rem] leading-[1.2] font-normal italic">
    {text}
  </h1>
</div>
