name: PR Check
permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Unit tests
        run: pnpm test:unit
      - name: Test content
        run: pnpm test:content

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build with Astro
        run: pnpm run build
      - name: Test build output
        run: pnpm test:build
